body {
	background: rgba(0, 0, 0, 0.4);
}

h1 {
	margin: 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/FiraSans-Light.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FiraSans-Medium";
  src: url("../fonts/FiraSans-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

.main {
	width: 620px;
	height: 490px;
	border-radius: 10px 9px 9px 10px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -230px;
}

.main-header {
	background-color: #ff8663;
	border-radius: 10px 9px 0 0;
	position: relative;
	height: 45px;
}

.main-header__header {
	color: #fff;
	font-family: "FiraSans-Medium";
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	left: 14px;
	top: 14px;
}

.main-header__close {
	display: block;
	width: 12px;
	height: 12px;
	background: url(../img/icon-close.png) 0 0 no-repeat;
	position: absolute;
	right: 14px;
	top: 14px;
}

.content__filter {
	height: 45px;
	background-color: #f0f0f0;
	position: relative;
}

.content__filter-left {
	position: absolute;
	left: 14px;
	top: 10px;
}

.content__filter-right {
	position: absolute;
	right: 14px;
	top: 10px;
}

.content__filter-input {
	width: 259px;/*285*/
	background-color: #fff;
	border: 0;
	color: #9f9f9f;
	font-family: "FiraSans-Light";
	font-size: 12px;
	font-weight: 300;
	outline: 0;
	border-radius: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 13px;
	padding-right: 13px;
}

.content__filter-left .content__filter-input {
	background-image: url(../img/icon-search.png);
	background-position: 7px center;
	background-repeat: no-repeat;
	width: 245px;/*272*/
	padding-left: 27px;
}

.content__wrapper {
	padding-left: 14px;
	padding-right: 14px;
}

.content__container-left {
	float: left;
	border-right: 1px solid #f0f0f0;
	padding-right: 15px;
}

.content__container-right {
	float: right;
}

.content__container {
	width: 279px;
}

.content__container-block {
	overflow: auto;
	height: 367px;
}

.content__container-header {
	padding-top: 13px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f0f0f0;
	color: #4f4f4f;
	font-family: "FiraSans-Medium";
	font-size: 12px;
	font-weight: 500;
}

.content__list {
	padding: 0;
	margin: 0;
	height: 367px;
	list-style-type: none;
}

.content__item {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	cursor: pointer;
}

.content__item:hover {
	background-color: #f0f0f0;
}

.content__item-img {
	border-radius: 50%;
	overflow: hidden;
	width: 45px;
	height: 45px;
	margin-left: 4px;
}

.content__item-title {
	color: #4f4f4f;
	font-family: "FiraSans-Medium";
	font-size: 12px;
	font-weight: 500;
	position: absolute;
	left: 55px;
  top: 23px;
}

.content__item-add {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/icon-add.png) 0 0 no-repeat;
	position: absolute;
	right: 9px;
  top: 20px;
}

.content__item-del {
	display: block;
	width: 12px;
	height: 12px;
	background: url(../img/icon-del.png) 0 0 no-repeat;
	position: absolute;
	right: 9px;
  top: 20px;
}

.main-footer {
	background-color: #f0f0f0;
	border-radius: 0 0 9px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45px;
}

.main-footer__save {
	width: 87px;
	height: 30px;
	background-color: #ff8663;
	border-radius: 10px 9px 9px 10px;
	color: white;
	font-family: "FiraSans-Light";
	font-size: 12px;
	font-weight: 300;
	border: 0;
	position: absolute;
	right: 7px;
	top: 8px;
	outline: 0;
	cursor: pointer;
}