<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Другофильтр</title>
	<link rel="stylesheet" href="css/style.css">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
</head>
<body>
	<div class="main">
		<header class="main-header">
			<h1 class="main-header__header">Выберите друзей</h1>
			<a href="#" class="main-header__close"></a>
		</header>
		<div class="content">
			<div class="content__filter">
				<div class="content__filter-left">
					<input class="content__filter-input" id="search-server" type="text" placeholder="Начните вводить имя друга">
				</div>
				<div class="content__filter-right">
					<input class="content__filter-input" id="search-local" type="text" placeholder="Название">
				</div>
			</div>
			<div class="content__wrapper clearfix">
				<div class="content__container content__container-left">
					<div class="content__container-header">Ваши друзья</div>
					<div class="content__container-block" id="friends-server">
					</div>
				</div>
				<div class="content__container content__container-right">
					<div class="content__container-header">Друзья в списке</div>
					<div class="content__container-block" id="friends-local">
					</div>
				</div>
			</div>
		</div>
		<footer class="main-footer">
			<button class="main-footer__save" id="save-local-friends">Сохранить</button>
		</footer>
	</div>
	<script src="http://vk.com/js/api/openapi.js" type="text/javascript">
	</script>
	<script src="js/script.js"></script>
	<script type="text/x-handlebars-template" id="content-list">
		<ul class="content__list">
			{{#each list}}				
				<li class="content__item" data-id="{{uid}}" draggable="true">
					<div class="content__item-img">
						<img src="{{photo_50}}" alt="{{first_name}} {{last_name}}">	
					</div>								
					<div class="content__item-title">{{first_name}} {{last_name}}</div>
					<a href="#" class="content__item-action content__item-{{../action}}"></a>
				</li>
			{{/each}}
		</ul>
	</script>
</body>
</html>